html, body {
  width: 100vw;
  overflow-x: none;
}
img {
  margin: auto !important;
  max-width: 80% !important;
  width: auto !important;
  height: auto !important;
}
pre {
  white-space: pre-wrap;
  word-break: break-all;
}
